/* параметры для текста */
.container {
  color: #3E5F8A;
  /* цвет текста */
  position: relative;
  /* Устанавливаем позиционирование для контейнера текста */
  z-index: 1;
  /* Устанавливаем высокий z-index для текста, чтобы он отображался поверх картинки */
  text-align: center;
  /* чтобы текст был по середине */
}

/* параметры для текста с выводом работы */
.index-container {
  left: -10px;
   /* отступ элемента слева. */
  color: #3E5F8A;
  /* цвет текста */
  z-index: 1;
  /* Устанавливаем высокий z-index для текста, чтобы он отображался поверх картинки */
}

/* параметры для текста о том,Ю как чувствуется температура */
.feel-like {
  /* цвет текста */
  color: #6495ED;
}

/* параметры для текста о принятой форме */
.success {
  /* цвет текста */
  color: #6495ED;
  /* отступ элемента сверху. */
  margin-top: 20px;
}

.success-ps {
  /* отступ элемента сверху. */
  margin-top: 20px;
}

/* параметры для текста ошибки */
.error {
  /* цвет текста */
  color: #B00000;
  /* отступ элемента сверху. */
  margin-top: 20px;
}

.error-ps {
  /* отступ элемента сверху. */
  margin-top: 20px;
  /* цвет текста */
  color: #EB4C42;
}
