/* параметры для картинок с небом */
.sky-image {
  width: 75%;
  /* Ширина картинки в процентах, чтобы она подстраивалась под размер окна браузера */
  margin-top: 5px;
  /* отступ элемента сверху. */
}

.sky2-image {
  position: fixed;
  /* устанавливает элемент в фиксированное положение относительно окна браузера. */
  top: 85px;
  /* отступ элемента сверху. */
  left: 83%;
  /* отступ элемента слева. */
  width: 15%;
  /* Ширина картинки в процентах, чтобы она подстраивалась под размер окна браузера */
  height: 80%;
  /* Высота картинки в процентах, чтобы она подстраивалась под размер окна браузера */
}

.sky3-image {
  position: fixed;
  /* устанавливает элемент в фиксированное положение относительно окна браузера. */
  top: 85px;
  /* отступ элемента сверху. */
  right: 83%;
  /* отступ элемента слева. */
  width: 15%;
  /* Ширина картинки в процентах, чтобы она подстраивалась под размер окна браузера */
  height: 80%;
  /* Высота картинки в процентах, чтобы она подстраивалась под размер окна браузера */
}


/* параметры для картиноки с термометром */
.temp-image {
  position: fixed;
  /* Устанавливаем позицию */
  bottom: 250px;
  /* снизу */
  right: 150px;
  /* справа */
  width: 550px;
  /* Уменьшаем ширину картинки до 200px */
  margin-top: 50px;
  /* отступ элемента сверху. */
}

/* параметры для картинок со смайликами */
.smile-image {
  position: fixed;
  /* устанавливает элемент в фиксированное положение относительно окна браузера. */
  left: 50%;
  /* устанавливает горизонтальное положение картинки по центру окна. */
  transform: translate(-50%, 0);
  /* смещает картинку на половину ее ширины влево, чтобы она была точно по центру. */
  bottom: 400px;
  /* поднимаем снизу на 400 пикселей */
  width: 200px;
  /* устанавливает ширину картинки в 200 пикселей. */
}

.sad_smile-image {
  position: fixed;
  /* устанавливает элемент в фиксированное положение относительно окна браузера. */
  left: 50%;
  /* устанавливает горизонтальное положение картинки по центру окна. */
  transform: translate(-50%, 0);
  /* смещает картинку на половину ее ширины влево, чтобы она была точно по центру. */
  bottom: 300px;
  /* поднимаем снизу на 300 пикселей */
  width: 200px;
  /* устанавливает ширину картинки в 200 пикселей. */
}

.money-image {
  position: fixed;
  /* устанавливает элемент в фиксированное положение относительно окна браузера. */
  left: 50%;
  /* устанавливает горизонтальное положение картинки по центру окна. */
  transform: translate(-50%, 0);
  /* смещает картинку на половину ее ширины влево, чтобы она была точно по центру. */
  bottom: 200px;
  /* поднимаем снизу на 400 пикселей */
  width: 50%;
  /* устанавливает ширину картинки в 200 пикселей. */
  height: 40%;
  /* устанавливает высоту картинки в 200 пикселей. */
}
