{% extends "base.html" %}

{% block content %}

    <!-- добавляем стили -->
    <link rel="stylesheet" type="text/css" href="static/css/style_img.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/style_text.css"/>

    <!-- добавляем класс -->
    <div class="container">

        <!-- пишем текст -->
        <h1 class="error">Произошла ошибка {{ err }}!</h1>

        <h2 class="error-ps">Попробуйте снова!</h2>
        <h2 class="error-ps">{{ message }}</h2>

    </div>

    <!-- Картинка -->
    <img src="/static/img/{{ img }}" alt="" class="sad_smile-image">

{% endblock %}