{% extends "base.html" %}

{% block content %}

    <!-- добавляем стили -->
    <link rel="stylesheet" type="text/css" href="static/css/style_img.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/style_text.css"/>

    <!-- добавляем класс -->
    <div class="container">

        <!-- пишем текст -->
        <h1 class="success">Форма отправлена!</h1>

        <h2 class="success-ps">Пожалуйста нажмите "Войти" и войдите,</h2>
        <h2 class="success-ps">чтобы попасть на сайт!</h2>

    </div>

    <!-- Картинка -->
    <img src="/static/img/{{ img }}" alt="" class="smile-image">

{% endblock %}